.box{
    width:125px;
    height:125px;
    font-size: 8em;
    text-align: center;
    border-radius:15px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 30px;
    color:
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color:hsl(187, 90%, 12%);
}

h4{
    color:hsl(0, 91%, 48%);
    font-size: 24px;
}
#box1 {
    background-color: hsl(0,100% ,70%);
    
}

#box2 {
    background-color: hsl(52,100% ,70%);
    height:
}

#box3 {
    background-color: hsl(98, 100%, 70%);
    height: 
}

#box4 {
    background-color: hsl(194, 100%, 70%);
    height: 
}


.justify-content-flex-start {
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}



.justify-content-flex-end {
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}
.justify-content-center {
    display:flex;
    justify-content: center;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}

.justify-content-space-around {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}

.justify-content-space-between {
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}
.align-content-flex-start {
    display:flex;
   align-items: flex-start;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}
.align-content-flex-end {
    display:flex;
    align-items: flex-end;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}
.align-content-center {
    display:flex;
    align-items: center;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}

.align-items-baseline {
    display:flex;
   align-items: baseline;
    flex-direction: row;
    border: 10px, solid, black;
    height: 40vh;
}

